* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0d1017;
}

.current-city img {
  width: 200px;
}

.today-forecast img {
  width: 100px;
}

.week-day-forecast img {
  width: 50px;
}

.air-conditions img {
  width: 35px;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
}

.search {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.search-bar {
  background-color: #0d1017;
  color: #fff;
  border: 1px solid #288641;
  border-radius: 45px;
  padding: 10px;
}

.search-btn {
  padding: 2px 10px;
  border: none;
  border-radius: 45px;
  background-color: #288641;
  color: #fff;
  cursor: pointer;
}

.search-btn:active {
  transform: translate(0, 4px);
  transition: 0.2s;
}

.current-city {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  text-align: center;
}

.today-forecast {
  background-color: #010409;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.today-forecast table {
  text-align: center;
}

.week-day-forecast {
  background-color: #010409;
  padding: 20px;
  border-radius: 10px;
  width: 348px;
}

.week-day-forecast table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #288641;
  margin-bottom: 15px;
  width: 300px;
}

.air-conditions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  background-color: #010409;
  padding: 20px;
  width: 348px;
  border-radius: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.humidity,
.wind-speed {
  display: flex;
  align-items: center;
  gap: 4px;
}
