* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b131e;
  color: #fff;
  padding: 20px;
  font-family: Poppins, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search {
  display: flex;
  border-radius: 15px;
}

input {
  margin: 0;
  border: none;
  border-radius: 15px 0 0 15px;
  width: 85%;
  padding: 13px;
  float: left;
  font-size: 16px;
  outline: none;
  background-color: #202c3c;
}

.add-btn {
  background-color: #008cb9;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  width: 15%;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.logo {
  width: 80px;
}

.nav {
  background-color: #202c3c;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.city-left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.cname {
  display: inline-block;
}

.cname p {
  margin-top: 2px;
  font-size: small;
  color: #838a9a;
}

.ctemp {
  font-size: 3rem;
  font-weight: 900;
}

.today-forecast {
  background-color: #202c3c;
  padding: 20px;
  border-radius: 15px;
}

.today-forecast h2 {
  font-size: 12px;
  margin-bottom: 12px;
  color: #838a9a;
}

.tf-cards {
  display: flex;
  gap: 3px;
  justify-content: space-evenly;
  width: 600px;
}

.tf-cards img,
.fc-container img {
  width: 38px;
}

.card {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: #ffffff1a;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5.8px);
}

.time {
  font-size: 12px;
  font-weight: 900;
}

.ttemp {
  font-size: 1.5rem;
  font-weight: 900;
}

.air-conditions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #202c3c;
  padding: 20px;
  border-radius: 15px;
}

.air-conditions h2 {
  font-size: 12px;
  color: #838a9a;
}

.ac-container {
  display: flex;
  justify-content: flex-start;
  gap: 12rem;
}

.ac-col-1,
.ac-col-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ac-card {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff1a;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5.8px);
}

.ac-card p:first-child {
  color: #838a9a;
}

.ac-card p:last-child {
  color: #ebf0f2;
}

.actemp {
  font-size: 2rem;
  font-weight: bolder;
}

.forecast {
  width: 400px;
  background: #202c3c;
  padding: 20px;
  border-radius: 15px;
}

.forecast h2 {
  font-size: 12px;
  margin-bottom: 4rem;
  color: #838a9a;
}

.fc-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  border-radius: 5px;
  background: #ffffff1a;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5.8px);
}

.fc-condition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.fctemp {
  font-size: 1rem;
  font-weight: 900;
}

.day {
  color: #ebf0f2;
}
